---
import Layout from "../../layouts/Layout.astro";
import regions from "../../data/branches.json"; // Importamos el JSON

// Obtener el parámetro de la URL
const { id } = Astro.params;

export function getStaticPaths() {
  return regions.map((region) => ({ params: { id: region.id } }));
}

// Filtrar la región por el ID
const region = regions.find((region) => region.id === Number(id));

console.debug(region)

if (!region) {
  throw new Error(`No region found with ID: ${id}`);
}
---

<Layout title="HolaMundo">
  <div style="color: blue"><h1>Good id, {region.name}!</h1></div>
</Layout>
