---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Menu - Lomo Alemán">
    <div class="container mx-auto">
        <iframe src="/img/menu.pdf" width="100%" height="800px"></iframe>

        <!-- <img src="/img/menu.png" alt="Menu actualizado" class="w-full"> -->
    </div>
</Layout>