---
import MenuIcon from "@lucide/astro/icons/square-menu";
import Instagram from "@lucide/astro/icons/instagram";
import AppNavigation from "@components/AppNavigation.astro";
---

<header
  class="bg-black lg:bg-lomo lg:border-t-[20px] lg:border-black sticky top-0 z-50 border-b-2 border-zinc-800 lg:border-b-0"
>
  <div
    class="container header-app mx-auto lg:flex lg:items-center lg:justify-between lg:h-24"
  >
    <!-- header -->
    <div
      class="flex justify-between items-center px-4 py-2 lg:px-0 lg:py-0 lg:w-1/5"
    >
      <!-- brand -->
      <a href="/" aria-label="Link to home page">
        <img src="/img/logo_text.svg" alt="LomoAleman" class="w-44 lg:w-48" />
      </a>
      <button
        id="button"
        class="lg:hidden bg-zinc-900 px-3 py-2 rounded"
        aria-label="Button nav"
      >
        <MenuIcon />
      </button>
    </div>

    <!-- navigation -->
    <nav class="bg-zinc-900 lg:bg-transparent navigation hidden lg:block">
      <AppNavigation title="Inicio" href="/" />
      <AppNavigation title="Carta Online" href="/menu" />
      <AppNavigation
        title="Carta Instagram"
        href="https://www.instagram.com/stories/highlights/18340550614084927/"
        target="_blank"
      />
      <AppNavigation title="Cotiza tu Carro" href="/cotiza-tu-carro" />
    </nav>

    <!-- network -->
    <ul class="hidden lg:flex lg:w-1/5 justify-end">
      <li>
        <a
          href="https://www.instagram.com/lomoaleman/"
          target="_blank"
          aria-label="LomoAleman"
          class="w-11 h-11 bg-amber-600 flex items-center justify-center rounded-full hover:bg-amber-900 transition"
        >
          <Instagram />
        </a>
      </li>
    </ul>
  </div>
</header>

<script>
  const button = document.getElementById("button");
  const menu = document.querySelector(".navigation");

  function toggle() {
    if (menu?.classList.contains("hidden")) {
      console.debug("UNO");
      menu.classList.remove("hidden");
    } else {
      console.debug("DOS");
      menu?.classList.add("hidden");
    }
  }

  button?.addEventListener("click", toggle);
</script>
