---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="flex bg-[#FFAA00] border-2 rounded-md p-4 text-xl font-bold text-black justify-center items-center hover:bg-black hover:text-[#FFAA00] transition"
>
  {title}
</a>
