---
import MapPin from '@lucide/astro/icons/map-pin';

interface Props {
  name: string;
  address: string;
  href: string;
}

const { href, name, address } = Astro.props;
---

<li class="link-card">
  <a
    href={href}
    class="text-center border-2 rounded-md border-[#FFAA00] flex flex-col items-center min-h-44 justify-center p-6 hover:border-white transition hover:bg-gray-950"
  >
    <MapPin />
    <h2 class="text-lg font-semibold uppercase my-3">{name}</h2>
    <p class="text-sm capitalize">{address}</p>
  </a>
</li>
