---
import { Instagram } from "@lucide/astro";

const slides = [
  {
    href: "/cotiza-tu-carro",
    image: "/slide1.jpg",
    title: "slide1",
  },
];
---

<div class="bg-white">
  <div class="px-4 py-5 lg:hidden bg-black mb-3">
    <a
      href="https://www.instagram.com/stories/highlights/18340550614084927/"
      target="_blank"
      aria-label="Link menu"
      class="bg-lomo flex items-center justify-center w-full p-3 text-black font-bold rounded"
    >
      <Instagram stroke-width="2.4" />
      <span class="ml-3">Ver Carta Instagram</span>
    </a>
  </div>

  <section>
    <div class="container mx-auto px-4 pb-4 lg:pt-4">
      <div class="splide" role="group" aria-label="Slide Loomo Aleman">
        <div class="splide__track">
          <ul class="splide__list">
            {
              slides.map((slide) => (
                <li class="splide__slide">
                  <a href={slide.href} aria-label={slide.title}>
                    <img
                      src={slide.image}
                      alt={slide.title}
                      class="w-full object-cover min-h-[300px] lg:min-h-[550px] rounded"
                    />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  import "@splidejs/splide/css";
  import Splide from "@splidejs/splide";
  new Splide(".splide", {
    autoplay: true,
    arrows: false,
    perPage: 1,
    gap: 15,
    breakpoints: {
      1200: {
        gap: 0,
        perPage: 1,
      },
    },
  }).mount();
</script>
